..DS_Store
*.xcuserstate
*.xcuserdata
*.xccheckout
*.xcscmblueprint
*.xcworkspace
DerivedData/
build/DS_Store
SpotlightKit.xcodeproj/xcuserdata/frights.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
